@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

header {
  height: 75px;
}

#title-container {
  /* width: 450px; */
  width: 49%;
  float: left;
}

#icon-container {
  float: right;
  /* display: inline-block; */
  /* width: 450px; */
  width: 49%;
  text-align: right;
}

#title {
  font-family: 'Yellowtail', cursive;
}

#title, #subtitle {
  margin: 0;
}

#title {
  margin-bottom: 0;
}

#title-container div, #icon-container div {
  display: inline-block;
}

#icon-container div {
  position: relative;
  margin-left: 10px;
  top: 10px;
}

#hr {
  /* position: relative;
  bottom: 0; */
  height: 10px;
  width: 100%;
  background-image: url('assets/hr-img.png');
}
